<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <title>Interview analysis</title>
</head>

<body>
    <header>
        <img class="logo" src="image.jpg" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Analysis</button></a>
    </header>

    <!-- Form -->
    <div class="form">
    <form action="/submit_video" method="post" enctype="multipart/form-data">
        <label for="video">Select a video to upload:</label>
        <input type="file" id="video" name="video" accept="video/*">
        <input type="submit" value="Submit Video">
      </form>
    </div>
</body>

</html>